
.side-bar {
    margin-top: 0.5%;
    gap: 30px;
    width: fit-content;
    background-color: #181818;  
    color: #ffffff;
    height: fit-content;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
}

.right-panel {
    width: 240px;
    background-color: #181818;
    color: white;
    padding: 20px;
    border-left: 1px solid #2a2a2a;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: static !important;
}

.main-content {
    width: auto;
    height: auto;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    margin-top: 0.5%;
    margin-left: 2%;
    border-radius: 10px;
    margin-right: 0 !important;
}
